{% extends "base.html" %}

{% block title %} pagina Inicial {% endblock %}

{% block content %}
{% for post in posts %}
    <article class="post">
        <header>
            <div>
                <h1> {{ post.title}}</h1>
                <div class="about">
                   by {{ post.autor.username }}  on {{ post.created.strftime('%d/%m/%y') }}
                </div>
            </div>
        </header>
        <p class="body"> {{post.body}}</p>
    </articler>
    {% if not loop.last %}
        <hr>
    {% endif %}
{% else %}
    <p class="no-posts"> Ops... There are no posts to Display! </p>
{% endfor %}
{% endblock %}